<%-include('../include/header.ejs')%>

<form class="kt-form kt-form--fit " method="post" action="/admin/users/update" enctype="application/x-www-form-urlencoded">
    <div class="row">

        <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__body">

                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Имя(am)<span class="required">*</span></label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input required class="form-control" type="text" placeholder="Name" name="name_am" value="<%=user.name_am%>">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Фамилия(am)<span class="required">*</span></label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input required class="form-control" type="text" placeholder="Last Name" name="lastName_am" value="<%=user.lastName_am%>">

                    </div>
                </div>








                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Имя(ru)<span class="required">*</span></label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input required class="form-control" type="text" placeholder="Name" name="name_ru" value="<%=user.name_ru%>">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Фамилия(ru)<span class="required">*</span></label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input required class="form-control" type="text" placeholder="Last Name" name="lastName_ru" value="<%=user.lastName_ru%>">

                    </div>
                </div>



                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Имя(en)<span class="required">*</span></label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input required class="form-control" type="text" placeholder="Name" name="name_en" value="<%=user.name_en%>">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Фамилия(en)<span class="required">*</span></label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input required class="form-control" type="text" placeholder="Last Name" name="lastName_en" value="<%=user.lastName_en%>">

                    </div>
                </div>





                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Ник(am)</label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control" type="text" placeholder="nickname" name="nickname_am" value="<%=user.nickname_am%>">

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Ник(ru)</label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control" type="text" placeholder="nickname" name="nickname_ru" value="<%=user.nickname_ru%>">

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Ник(en)</label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control" type="text" placeholder="nickname" name="nickname_en" value="<%=user.nickname_en%>">

                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Фото</label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control" type="hidden" placeholder="image" name="image" value="<%=user.image%>">
                        <button type="button" class="btn btn-danger setFeaturedImage" style="width: 233px;margin-left: 9px;">Изображение </button>
                        <div class="featuredImage" style="width: 250px;">
                            <div class="col-md-12 col-lg-12 DropzonImageBlock">
                                <img src="<%=user.image%>" alt="">
                                <div>
                                    <button type="button" class=" dropzonRemuveBtn btn  btn-outline-danger"><i class="la la-trash"></i></button>
                                </div>
                            </div>


                        </div>
                    </div>

                    <br>






                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Email<span class="required">*</span></label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input required class="form-control" type="email" placeholder="Email" name="email" autocomplete="off" value="<%=user.email%>">
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Пароль<span class="required">*</span></label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input  class="form-control" type="password" placeholder="Password" name="password">
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Facebook</label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control" type="text" placeholder="facebook" name="facebook" value="<%=user.facebook%>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Twitter</label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control" type="text" placeholder="twitter" name="twitter" value="<%=user.twitter%>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">instagram</label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control" type="text" placeholder="instagram" name="instagram" value="<%=user.instagram%>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">linkedin</label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control" type="text" placeholder="linkedin" name="linkedin" value="<%=user.instagram%>">
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-3 col-form-label">Статус<span class="required">*</span></label>

                    <div class="col-3">



                        <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">

                                <label>
                                    <% if (user.status==1) {%>
                                        <input  type="checkbox"  name="status"  checked>

                                    <%}else {%>
                                        <input  type="checkbox"  name="status" >
                                    <%}%>
                                    <span></span>
                                </label>
                            </span>

                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-form-label col-lg-12 col-sm-12">Роли<span class="required">*</span></label>
                    <div class="col-lg-4 col-md-4">
                            <select required id="kt_select2_3" class="form-control m-select2s" name="user_role">
                                <%roles.forEach(function (role) {%>
                                    <%if (user.user_role==role.id){%>
                                <option selected value="<%=role.id%>"><%=role.name%></option>
                                   <% }else{%>
                                <option value="<%=role.id%>"><%=role.name%></option>

                                <% }%>
                                <%})%>

                            </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label">Статус сотрудник</label>

                    <div class="col-3">



                        <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">

                                <label>
                                    <% if (user.staff==1) {%>
                                        <input type="checkbox"  name="staff"  checked>

                                    <%}else {%>
                                        <input type="checkbox"  name="staff" >

                                    <%}%>
                                    <span></span>
                                </label>
                            </span>

                    </div>
                </div>


                <input type="hidden" name="id" value="<%=user.id%>">
                <div class="form-group row">
                    <button class=" btn btn-success btn-custom " id="" type="submit">Обновить пользователя </button>
                </div>

            </div>
        </div>
    </div>


</form>

<%-include('../include/footer.ejs')%>
