<%-include('../include/header.ejs')%>

<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">

    </div>
    <div class="kt-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="">

            <thead>
            <tr>
                <th>ID</th>
                <th>img</th>
                <th>link</th>
                <th>status</th>
                <th>содержание</th>

                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <% allBanner.forEach(function(banner) {%>
            <tr>
                <td><%=banner.id%></td>
                <td><%=banner.img_src%></td>
                <td><%=banner.link%></td>
                <td><%=banner.status%></td>
                <td><%=banner.html%></td>
                <td>
                    <a href="/admin/page/banner/<%=banner.id%>" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="View">
                        <i class="la la-edit"></i>
                    </a>
<!--                     <a href="/admin/page/banner/<%=banner.id%>/delete" class="m-portlet__nav-link btn m-btn m-btn&#45;&#45;hover-brand m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" title="View">-->
<!--                         <i class="la la-remove"></i>-->
<!--                     </a>-->
                </td>
            </tr>
            <%});%>
            </tbody>
            <tfoot>
            <tr>
                <th>ID</th>
                <th>img</th>
                <th>link</th>
                <th>status</th>
                <th>содержание</th>

                <th>Действия</th>
            </tr>
            </tfoot>
        </table>
    </div>


    <!--end: Datatable -->
</div>
</div>

<%-include('../include/footer.ejs')%>
